<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field name="requestpassword" default="0" type="radio" class="btn-group" label="SIMPLEREGISTRATION_PARAMS_REQUESTPASSWORD_LABEL" description="SIMPLEREGISTRATION_PARAMS_REQUESTPASSWORD_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="extractusername" default="0" type="radio" class="btn-group" label="SIMPLEREGISTRATION_PARAMS_EXTRACTUSERNAME_LABEL" description="SIMPLEREGISTRATION_PARAMS_EXTRACTUSERNAME_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="autologin" default="0" type="radio" class="btn-group" label="SIMPLEREGISTRATION_PARAMS_AUTOLOGIN_LABEL" description="SIMPLEREGISTRATION_PARAMS_AUTOLOGIN_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
	</fieldset>
</config>
